<% @selected_interfaces.each { |interface| %>
<h1><%=interface[:user]%></h1>
<table border="0"><tr><td>
<img src="<%= image_path_helper(interface[:system],"summary") %>" border="0" alt="summary"></td><td>
<img src="<%= image_path_helper(interface[:system],"hours") %>"  border="0" alt="hourly"></td></tr><tr><td valign="top">
<img src="<%= image_path_helper(interface[:system],"days") %>" border="0" alt="daily"></td><td valign="top">
<img src="<%= image_path_helper(interface[:system],"top10") %>" border="0" alt="top 10"><br>
<img src="<%= image_path_helper(interface[:system],"months") %>" border="0" alt="monthly" vspace="4"></td></tr>
</table>
<% } %>