<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="<%=URI_PATH_PREFIX%>bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">body { padding-top: 40px; padding-bottom: 40px; }</style>
    <link href="<%=URI_PATH_PREFIX%>bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
  <body>

    <%= erb :menu, :layout => false %>
    <div class="container">
      <%= yield %>
    </div>

    <script src="<%=URI_PATH_PREFIX%>js/jquery-1.9.0.min.js"></script>
    <script src="<%=URI_PATH_PREFIX%>bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
